{% block form_errors %}
{% spaceless %}
    {% if errors|length > 0 %}
        {% for error in errors %}
        <div class="help-block col-xs-12 col-sm-reset inline has-error">
             {{ error.message }}
        </div>
        {% endfor %}
    {% endif %}
{% endspaceless %}
{% endblock form_errors %}

{% block form_widget_simple -%}
    {% if addon_left is defined or addon_right is defined%}
        <div class="input-group">
        {% if addon_left is defined %}
            <span class="input-group-addon">
                <i class="ace-icon fa {{ addon_left }}"></i>
            </span>
        {% endif %}
    {% endif %}
    {% if type is not defined or type not in ['file', 'hidden'] %}
        {%- set attr = attr|merge({class: (attr.class|default('form-control'))|trim}) -%}
    {% endif %}
    {%- set type = type|default('text') -%}
    <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>

    {% if addon_left is defined or addon_right is defined %}
        {% if addon_right is defined %}
            <span class="input-group-addon">
                <i class="ace-icon fa {{ addon_right }}"></i>
            </span>
        {% endif %}
        </div>
    {% endif %}
{%- endblock form_widget_simple %}

{% block form_row %}
{% spaceless %}
<div class="form-group{% if not form.vars.valid %} has-error{% endif %}">
    {{form_label(form)}}
    {{form_widget(form)}}
    {{form_errors(form)}}
</div>
{% endspaceless %}
{% endblock form_row %}

{% block form_horizontal %}
{% spaceless %}
<div class="form-group{% if not form.vars.valid %} has-error{% endif %}">
    {{form_label(form, null, {'label_attr':{'class':'col-sm-3 control-label'}}) }}
    <div class="col-sm-9">
        {{form_widget(form)}}
        {{form_errors(form)}}
    </div>
</div>
{% endspaceless %}
{% endblock form_horizontal %}

{%block switch_row %}
<div class="form_group">
    {{ form_label(form) }}
    {{ form_widget(form) }}
</div>
{%endblock %}

{% block switch_label %}
    {% if label is not same as(false) %}
        {% if not compound %}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {% endif %}
        {% if required %}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
        {% endif %}
        {% if label is empty and not hidelabel %}
            {% set label = name|humanize %}
        {% endif %}
        <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ hidelabel ? '' : label|trans({}, translation_domain) }}
        </label>
    {% endif %}
{% endblock %}

{%block switch_widget %}
    <input {{ block('widget_attributes') }} type="checkbox" {% if checked %}checked{%endif%}{% if value is defined %} value="{{ value }}"{% endif %} />
    <span class="lbl"></span>
{%endblock %}

{%block slider_row %}
<div id="slider-range" class="ui-slider ui-slider-vertical ui-widget ui-widget-content ui-corner-all" aria-disabled="false" style="height: 200px;">
    <div class="ui-slider-range ui-widget-header ui-corner-all" style="bottom: 17%; height: 70%;"></div>
    <a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="bottom: 17%;"></a>
    <a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="bottom: 87%;">
        <div class="tooltip right in" style="left: 16px; top: -6px; display: none;">
            <div class="tooltip-arrow"></div>
            <div class="tooltip-inner">87</div>
        </div>
    </a>
</div>
{%endblock %}

{%block acedatepicker_widget %}
<div class="input-group">
    <input type="text" {{ block('widget_attributes') }}{% if value is not empty %} value="{{ value }}" {% endif %}/>
    <span class="input-group-addon">
        <i class="fa fa-calendar bigger-110"></i>
    </span>
</div>
{%endblock %}

{%block acedaterange_widget %}
    <input type="text" {{ block('widget_attributes') }}{% if value is not empty %} value="{{ value }}" {% endif %}/>
    <span class="input-group-addon">
        <i class="fa fa-calendar bigger-110"></i>
    </span>
{%endblock %}

{%block acedatetime_row %}
    <div class="form-group">
        {{form_label(form)}}
        {{form_errors(form)}}
        {{ form_widget(form) }}
    </div>
{%endblock %}

{%block acedatetime_widget %}
    {% set dattr = attr|merge({ class: 'form-control date-picker' }) %}
    {% set tattr = attr|merge({ class: 'form-control time-picker' }) %}
    <div class="input-group input-datetime-group">
        {{form_widget(form.date,{'attr': dattr})}}
        {{form_errors(form.date)}}
        <span class="input-group-addon">
            <i class="fa fa-calendar bigger-110"></i>
        </span>
    </div>
    <div class="input-group bootstrap-timepicker input-datetime-group">
        {{form_widget(form.time,{attr: tattr|merge({placeholder:''})})}}
        {{form_errors(form.time)}}
        <span class="input-group-addon">
            <i class="fa fa-clock-o bigger-110"></i>
        </span>
    </div>
{% endblock %}

{% block fileupload_row %}
<div class="form-group">
    {{form_label(form)}}
    <div {{ block('widget_attributes') }}>
        <div class="nsUploader"></div>
    </div>
</div>
{% endblock %}

{% block autocompleter_row %}
<div class="form-group">
    {{form_label(form)}}
    <div class="input-group">
    {% if icon is defined %}
        <span class="input-group-addon">
            <i class="ace-icon {{icon}}"></i>
        </span>
    {% endif %}
        <input type="text" {{ block('widget_attributes') }} {% if value is defined %} value="{{ value }}"{% endif %}/>
    </div>
</div>
{% endblock %}

{% block tag_row %}
<div class="form-group">
    {{form_label(form)}}
    <div class="input-group">
        <input type="text" {{ block('widget_attributes') }}{% if value is not empty %} value="{{ value }}" {% endif %}/>
    </div>
</div>
{% endblock %}

{% block spinner_row %}
<div class="form-group">
    {{form_label(form)}}
    <div class="input-group">
        <input type="text" {{ block('widget_attributes') }}{% if value is not empty %} value="{{ value }}" {% endif %}"/>
    </div>
</div>
{% endblock %}

{% block knob_row %}
<div class="form-group">
    {{form_label(form)}}
    <div class="input-group">
        <input type="text" {{ block('widget_attributes') }}{% if value is not empty %} value="{{ value }}" {% endif %}"/>
    </div>
</div>
{% endblock %}

{% block masked_row %}
<div class="form-group">
    {{form_label(form)}}
    <div class="input-group">
        <input type="text" {{ block('widget_attributes') }}{% if value is not empty %} value="{{ value }}" {% endif %}"/>
    </div>
</div>
{% endblock %}

{%- block button_row -%}
    {{- form_widget(form) -}}
{%- endblock button_row -%}

{% block iconbutton_widget %}
    {{block('submit_widget')}}
{% endblock iconbutton_widget %}

{% block submit_widget %}
{% spaceless %}
    {% if label is empty %}
        {% set label = name|humanize %}
    {% endif %}
    <button {{ block('button_attributes') }}>{%if icon is defined %}<i class="{{icon}}"></i> {%endif%}{{ label|trans({}, translation_domain) }}</button>
{% endspaceless %}
{% endblock submit_widget %}

{%block entity_create_widget %}
<div class="input-group entity-create">
    <span class="input-group-addon">
        <i class="ace-icon fa fa-search"></i>
    </span>
    {{form_widget(form.finder)}}
    {% if include_button %}
    <span class="input-group-btn">
        <button id="modal_trigger_{{form.finder.vars.id}}" type="button" class="btn btn-sm btn-success" data-input="{{form.finder.vars.id}}" data-toggle="modal" data-target="#modal_{{form.finder.vars.id}}">
            <span class="ace-icon fa fa-plus icon-on-right bigger-110"></span>
            <span class="entity-modal-status"> Add</span>
        </button>
    </span>
    {% endif %}
</div>
{% if include_form %}
<div id="modal_{{form.finder.vars.id}}" class="modal fade entity-modal" data-input="{{form.finder.vars.id}}">
    <div class="modal-dialog{%if modal_size is defined %} {{modal_size}}{% endif %}">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Create New {{ form.vars.name|humanize }}</h4>
            </div>
            <div class="modal-body">
                {{ form_widget(form.createForm) }}
                {{ form_widget(form.createFormClicked) }}
            </div>
            <div class="modal-footer">
                <span>This {{ form.vars.name|humanize }} will be saved when you submit the original form. </span>
                <button id="{{form.vars.name}}_clear" class="btn btn-default btn-sm modal-clear" data-dismiss="modal">Clear/Close</button>
                <button id="{{form.vars.name}}_save" class="btn btn-success btn-sm" data-dismiss="modal">Apply changes</button>
                <script type="text/javascript">
                    var was_submitted = document.getElementById('{{ form.createFormClicked.vars.id }}');
                    document.getElementById('{{form.vars.name}}_clear').onclick = function() {
                        was_submitted.value = 'finder';
                    };
                    document.getElementById('{{form.vars.name}}_save').onclick = function() {
                        was_submitted.value = 'create';
                    };
                </script>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}

{% block checkbox_label %}{% endblock %}

{% block radio_label %}{% endblock %}

{% block radio_widget %}
    <div class="radio">
        <label id="{{ id }}_hiddenLabel" for={{ id }} {%- for attrname, attrvalue in label_attr -%}{{- " " -}}{{- attrname }}="{{ attrvalue }}"{%- endfor -%}>
        {% set attr = attr|merge({'class':'ace'}) %}
        <input {{ block('widget_attributes') }} type="radio" {% if checked %}checked{%endif%}{% if value is defined %} value="{{ value }}"{% endif %} />
        <span class="lbl">
                {% if label is not same as(false) -%}
                    {% if label is empty -%}
                        {%- if label_format is not empty -%}
                            {% set label = label_format|replace({'%name%': name,'%id%': id,}) %}
                        {%- else -%}
                            {% set label = name|humanize %}
                        {%- endif -%}
                    {%- endif -%}
                    {{ label|trans({}, translation_domain) }}
                {%- endif -%}
            </span>
        </label>
    </div>
{% endblock %}

{% block checkbox_widget %}
    <div class="checkbox">
        <label id="{{ id }}_hiddenLabel" for={{ id }} {%- for attrname, attrvalue in label_attr -%}
        {{- " " -}}
        {{- attrname }}="{{ attrvalue }}"
        {%- endfor -%}>
            {% set attr = attr|merge({'class':'ace'}) %}
            <input {{ block('widget_attributes') }} type="checkbox" {% if checked %}checked{%endif%}{% if value is defined %} value="{{ value }}"{% endif %} />
            <span class="lbl">
                {% if label is not same as(false) -%}
                    {% if label is empty -%}
                        {%- if label_format is not empty -%}
                            {% set label = label_format|replace({'%name%': name,'%id%': id,}) %}
                        {%- else -%}
                            {% set label = name|humanize %}
                        {%- endif -%}
                    {%- endif -%}
                    {{ label|trans({}, translation_domain) }}
                {%- endif -%}
            </span>
        </label>
    </div>
{% endblock %}

{%- block time_widget -%}
    {%- if widget == 'single_text' -%}
        {{ block('form_widget_simple') }}
    {%- else -%}
        {%- set vars = widget == 'text' ? { 'attr': { 'size': 1 }} : {} -%}
        <div {{ block('widget_container_attributes') }}>
            {{ form_label(form) }}
            {{ form_widget(form.hour, vars) }}{% if with_minutes %}:{{ form_widget(form.minute, vars) }}{% endif %}{% if with_seconds %}:{{ form_widget(form.second, vars) }}{% endif %}
        </div>
    {%- endif -%}
{%- endblock time_widget -%}

{% block time_row %}
    {% spaceless %}
        <div class="form-group{% if not form.vars.valid %} has-error{% endif %}">
            {{ form_widget(form) }}
            {{ form_errors(form) }}
        </div>
    {% endspaceless %}
{% endblock time_row %}
