{% block form_errors %}
{% spaceless %}
    {% if errors|length > 0 %}
        {% for error in errors %}
        <div class="help-block col-xs-12 col-sm-reset inline">
             {{ error.message }}
        </div>
        {% endfor %}
    {% endif %}
{% endspaceless %}
{% endblock form_errors %}

{% block form_row %}
{% spaceless %}
<div class="form-group{% if not form.vars.valid %} has-error{% endif %}">
    {{form_label(form)}}
    {{form_widget(form)}}
    {{form_errors(form)}}
</div>
{% endspaceless %}
{% endblock form_row %}

{%block switch_row %}
<div class="form_group">
    {% if label is not sameas(false) %}
        {% if not compound %}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {% endif %}
        {% if required %}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
        {% endif %}
        {% if label is empty %}
            {% set label = name|humanize %}
        {% endif %}
        <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ label|trans({}, translation_domain) }}
            {{form_widget(form)}}
            <span class="lbl"></span>
        </label>
    {% endif %}    
</div>
{%endblock %}

{%block slider_row %}
<div id="slider-range" class="ui-slider ui-slider-vertical ui-widget ui-widget-content ui-corner-all" aria-disabled="false" style="height: 200px;">
    <div class="ui-slider-range ui-widget-header ui-corner-all" style="bottom: 17%; height: 70%;"></div>
    <a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="bottom: 17%;"></a>
    <a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="bottom: 87%;">
        <div class="tooltip right in" style="left: 16px; top: -6px; display: none;">
            <div class="tooltip-arrow"></div>
            <div class="tooltip-inner">87</div>
        </div>
    </a>
</div>
{%endblock %}

{% block acedate_label %}
    <label for="form-field-mask-1">
        Date
        <small class="text-success">99/99/9999</small>
    </label>
{% endblock %}

{%block acedate_row %}
<div class="form-group">
    {{form_label(form)}}
    <div class="input-group">
        <input class="form-control input-mask-date" type="text" id="form-field-mask-1" />
        <span class="input-group-btn">
            <button class="btn btn-sm btn-default" type="button">
                <i class="fa fa-calendar bigger-110"></i>Go!
            </button>
        </span>
    </div>
</div>
{%endblock %}

{%block acedatepicker_widget %}
<input type="text" {{ block('widget_attributes') }}{% if value is not empty %} value="{{ value }}" {% endif %}/>
{%endblock %}

{%block acedatepicker_row %}
<div class="form-group">
    {{form_label(form)}}
    <div class="input-group input-large">
        {{form_widget(form)}}
        <span class="input-group-addon">
            <i class="fa fa-calendar bigger-110"></i>
        </span>
    </div>
    {{form_errors(form)}}
</div>
{%endblock %}

{%block acedaterange_widget %}
<input type="text" {{ block('widget_attributes') }}{% if value is not empty %} value="{{ value }}" {% endif %}/><span class="input-group-addon">
            <i class="fa fa-calendar bigger-110"></i>
        </span>
{%endblock %}

{%block acedaterange_row %}
<div class="form-group">
    {{form_label(form)}}
    <div class="input-group input-large">
        {{form_widget(form)}}
        
    </div>
    {{form_errors(form)}}
</div>
{%endblock %}

{%block acedatetime_row %}
{% set dattr = attr|merge({ class: 'form-control date-picker' }) %}
{% set tattr = attr|merge({ class: 'form-control time-picker' }) %}
<div class="form-group">
    {{form_label(form)}}
    {{form_errors(form)}}
    <div class="input-group input-datetime-group">
        {{form_widget(form.date,{'attr': dattr})}}
        {{form_errors(form.date)}}
        <span class="input-group-addon">
            <i class="fa fa-calendar bigger-110"></i>
        </span>
    </div>
    <div class="input-group bootstrap-timepicker input-datetime-group">
        {{form_widget(form.time,{attr: tattr|merge({placeholder:''})})}}
        {{form_errors(form.time)}}
        <span class="input-group-addon">
            <i class="fa fa-time bigger-110"></i>
        </span>
    </div>
</div>
{%endblock %}

{% block fileupload_row %}
<div class="form-group">
    {{form_label(form)}}
    <div {{ block('widget_attributes') }}>
        <div class="nsUploader"></div>
    </div>
</div>
{% endblock %}

{% block autocompleter_row %}
<div class="form-group">
    {{form_label(form)}}
    <div class="input-group">
        <input type="text" {{ block('widget_attributes') }} {% if value is defined %} value="{{ value }}"{% endif %}/>
    </div>
</div>
{% endblock %}

{% block tag_row %}
<div class="form-group">
    {{form_label(form)}}
    <div class="input-group">
        <input type="text" {{ block('widget_attributes') }}{% if value is not empty %} value="{{ value }}" {% endif %}/>
    </div>
</div>
{% endblock %}

{% block spinner_row %}
<div class="form-group">
    {{form_label(form)}}
    <div class="input-group">
        <input type="text" {{ block('widget_attributes') }}{% if value is not empty %} value="{{ value }}" {% endif %}"/>
    </div>
</div>
{% endblock %}

{% block knob_row %}
<div class="form-group">
    {{form_label(form)}}
    <div class="input-group">
        <input type="text" {{ block('widget_attributes') }}{% if value is not empty %} value="{{ value }}" {% endif %}"/>
    </div>
</div>
{% endblock %}

{% block masked_row %}
<div class="form-group">
    {{form_label(form)}}
    <div class="input-group">
        <input type="text" {{ block('widget_attributes') }}{% if value is not empty %} value="{{ value }}" {% endif %}"/>
    </div>
</div>
{% endblock %}

{% block recordsperpage_row %}
    <label>{{'Display'|trans}}
        {% if required and empty_value is none and not empty_value_in_choices %}
            {% set required = false %}
        {% endif %}
        <select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %} onchange="this.form.submit();">
            {% if empty_value is not none %}
                <option value=""{% if required and value is empty %} selected="selected"{% endif %}>{{ empty_value|trans({}, translation_domain) }}</option>
            {% endif %}
            {% if preferred_choices|length > 0 %}
                {% set options = preferred_choices %}
                {{ block('choice_widget_options') }}
                {% if choices|length > 0 and separator is not none %}
                    <option disabled="disabled">{{ separator }}</option>
                {% endif %}
            {% endif %}
            {% set options = choices %}
            {{ block('choice_widget_options') }}
        </select> {{'records'|trans}}
    </label>
{% endblock %}

{% block iconbutton_widget %}
    {{block('submit_widget')}}
{% endblock iconbutton_widget %}

{% block submit_widget %}
{% spaceless %}
    {% if label is empty %}
        {% set label = name|humanize %}
    {% endif %}
    <button {{ block('button_attributes') }}>{%if icon is defined %}<i class="{{icon}}"></i>{%endif%}{{ label|trans({}, translation_domain) }}</button>
{% endspaceless %}
{% endblock submit_widget %}

{%block entity_create_widget %}
<div class="input-group entity-create">
    <span class="input-group-addon">
        <i class="ace-icon fa fa-search"></i>
    </span>
    {{form_widget(form.finder)}}
    {% if include_button %}
    <span class="input-group-btn">
        <button id="modal_trigger_{{form.finder.vars.id}}" type="button" class="btn btn-sm btn-success" data-input="{{form.finder.vars.id}}" data-toggle="modal" data-target="#modal_{{form.finder.vars.id}}">
            <span class="ace-icon fa fa-plus icon-on-right bigger-110"></span>
            <span class="entity-modal-status"> Add</span>
        </button>
    </span>
    {% endif %}
</div>
{% if include_form %}
<div id="modal_{{form.finder.vars.id}}" class="modal fade entity-modal" data-input="{{form.finder.vars.id}}">
    <div class="modal-dialog{%if modal_size is defined %} {{modal_size}}{% endif %}">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Create New {{ form.vars.name|humanize }}</h4>
            </div>
            <div class="modal-body">
                {{form_widget(form.createForm)}}
            </div>
            <div class="modal-footer">
                <span>This {{ form.vars.name|humanize }} will be saved when you submit the original form. </span>
                <button class="btn btn-default modal-clear" data-dismiss="modal">Clear/Close</button>
                <button class="btn btn-success" data-dismiss="modal">Apply changes</button>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}

{% block checkbox_widget %}
    <div class="checkbox">
        <label>
            {% set attr = attr|merge({'class':'ace'}) %}
            <input {{ block('widget_attributes') }} type="checkbox" {% if checked %}checked{%endif%}{% if value is defined %} value="{{ value }}"{% endif %} />
            <span class="lbl">
                {% if label is not sameas(false) -%}
                    {% if label is empty -%}
                        {%- if label_format is not empty -%}
                            {% set label = label_format|replace({'%name%': name,'%id%': id,}) %}
                        {%- else -%}
                            {% set label = name|humanize %}
                        {%- endif -%}
                    {%- endif -%}
                    {{ label|trans({}, translation_domain) }}
                {%- endif -%}
            </span>
        </label>
    </div>
{% endblock %}