{% block form_row %}
    <div class="form-group">
        <div class="col-md-3">
            {{ form_label(form) }}
        </div>
        <div class="col-md-9">
            {{ form_widget(form) }}
        </div>
    </div>
{% endblock %}

{% block filter_date_range_widget %}
    {{ form_widget(form.left_date) }}
    {{ form_widget(form.right_date) }}
{% endblock %}

{% block filter_date_widget %}
    <div class="input-group input-large">
        <input type="text" {{ block('widget_attributes') }}{% if value is not empty %} value="{{ value }}" {% endif %}/>
        <span class="input-group-addon">
            <i class="fa fa-calendar bigger-110"></i>
        </span>
    </div>
{% endblock %}
